[data-loading]{
    position: fixed;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
}
[data-loading] > *{
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}
[data-loading] > *:first-child{
    top: 0;
    left: 0;
    background: black;
}
[data-loading] > *:last-child{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    background: red;
}
[data-loading] > * > *{
    display: block;
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 45vh;
    right: 0;
    background: red;
}
[data-loading] > *:last-child > *{
    background: black;
}
[data-loading="complete"]{
    animation: close 0s forwards;
    animation-delay: 3s;
}
[data-loading="complete"] > *{
    animation: open 1s forwards;
    animation-delay: 2s;
}
@keyframes open{
    from{height:100vh;}
    to{height:0;}
}
@keyframes close{
    to{z-index: -100;}
} */
 

.ripple > *{
    display: inline-block;
    text-shadow: 0 0 0 #fff;
    color: transparent;
    
}
.ripple:hover > * {
    animation: rippleEffect 5s infinite;
}
@keyframes rippleEffect {
    40% {
        opacity: .35;
    }
    50% {
        transform: translate3d(.5em, 0, 0) scale(1.1);
        text-shadow: 0 0 20px #fff;
    }
    75%{
        transform: translate3d(0,0,0) scale(1);
        text-shadow: 0 0 0 #fff;
        opacity: 1;
    }
} 
body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: silver;
    color: #000;
    padding-bottom: 300%;
}
header{
    display: block;
    position: relative;
    width: 100vw;
    height: 80vh;
    text-align: center;
    overflow: hidden;
    background-image: url('profpic.jpg');
   background-position: center;
    background-size: 100% 100%;
}
h1{
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px #000;
}
main{
    width: 50%;
    font-size: 3em;
    color: #fff;
    margin: 0 auto 0 auto;
}
.box5{
    height: 500px;
    width: 500px;
    /* border: solid;
   display: flex;
   align-items: center;
justify-content:center;
}
/*used this to align title and add font and make size bigger and fix width */
.wrap{
    width: 950px;
    text-align: center;
    font-size: 200px;
    height: 500px;
    font-family: supernatural knight;
}
/*used this to place animation inside of letters, add background image of fire, stretched it out to fit, made sure it didn't repeat */
span{
    background: url('minion.gif');
    background-size: cover;
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.wrapper{
    height: 100px;
    width: 100%;
    display: flex;
justify-content: space-around;

}
.box{
    border: solid;
    height:400px;
    width: 300px;
    
}
