body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: silver;
    color: #000;
    padding-bottom: 300%;
}
header{
    display: block;
    position: relative;
    width: 100vw;
    height: 80vh;
    text-align: center;
    overflow: hidden;
    background-image: url('mypic.jpg');
   background-position: center;
    background-size: 100% 100%;
}
h1{
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px #000;
}
main{
    width: 50%;
    font-size: 3em;
    color: #fff;
    margin: 0 auto 0 auto;
}
html,
body {
    height: 100%;
}

/* body {
    background: #fff500;
} */

.container {
    height: 100%;
    position: relative;
}

.svg-clipped {
    width: 640px;
    height: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -320px;
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    border: solid 3px black;
}

.svg-clipped:hover {
    -webkit-clip-path: url(#svgHover);
    clip-path: url(#svgHover);
    width: 640px;
}